- var MENU = LANG.menu;
- var MAIN = LANG.main;
.header-menu
	.wrapper
		a.logo(href='https://affhub.net')
			img(src='img/svg/logo.svg' alt='Affhub')
		.mobile-button
		.mobile-hide
			ul.navigation.navigation-container
				li#menu-item-2321.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children.menu-item-2321
					a(href='https://affhub.net/news/')!= MENU.news
					ul.sub-menu
						li#menu-item-2264.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2264
							a(href='https://affhub.net/news/interview/')!= MENU.interview
						li#menu-item-2265.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2265
							a(href='https://affhub.net/news/konkursy/')!= MENU.konkursy
						li#menu-item-2263.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2263
							a(href='https://affhub.net/news/obzor-events-cpa-konferentsii/')!= MENU.events
				li#menu-item-2320.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children.menu-item-2320
					a(href='https://affhub.net/arbitrazh-trafika/')!= MENU.arbitrazh
					ul.sub-menu
						li#menu-item-2266.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2266
							a(href='https://affhub.net/arbitrazh-trafika/arbitrazh-trafika-dlya-novichkov/')!= MENU.novichkov
						li#menu-item-2267.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2267
							a(href='https://affhub.net/arbitrazh-trafika/istochnikitrafika/')!= MENU.istochnikitrafika
						li#menu-item-2317.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2317
							a(href='https://affhub.net/arbitrazh-trafika/servisy-dlya-arbitrazhnika/')!= MENU.servisy
						li#menu-item-2318.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2318
							a(href='https://affhub.net/arbitrazh-trafika/vertikali-nishi-v-arbitrazhe-trafika/')!= MENU.vertikali
						li#menu-item-2268.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2268
							a(href='https://affhub.net/arbitrazh-trafika/cases/')!= MENU.cases
						li#menu-item-2269.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2269
							a(href='https://affhub.net/arbitrazh-trafika/arbitrazh_trafika_sotsseti/')!= MENU.social
				li#menu-item-2270.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-2270
					a(href='https://affhub.net/aboutstudy/')!= MENU.aboutstudy
				li#menu-item-2322.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children.menu-item-2322
					a(href='https://affhub.net/events/')!= MENU.events_2
					ul.sub-menu(style='height: auto;')
						li#menu-item-2296.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-2296
							a Affhub events
							ul.sub-menu(style='height: auto;')
								li#menu-item-2299.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-2299
									a(href='https://affhub.net/cpaboost/') CPA Boost 3.0
								li#menu-item-2300.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-2300
									a(href='https://affhub.net/gamingparty/') Affhub Gaming Party
								li#menu-item-2298.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-2298
									a(href='https://affhub.net/gambitparty/') Queen’s Gambit Party
						li#menu-item-2297.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2297
							a(href='https://affhub.net/kalendarcpa/')!= MENU.kalendarcpa
				li#menu-item-2261.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-2261
					a(href='https://affhub.net/vakansii/')!= MENU.vakansii
				li#menu-item-2262.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-2262
					a(href='https://contest.everad.com/')!= MENU.contest
		.navigation-mobile
			.logo.pull-left
				img(src='img/svg/logo.svg' alt='Affhub')
			.navigation-close.pull-right
			.clearfix
			ul.links.navigation-container
				li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children.menu-item-2321
					a(href='https://affhub.net/news/')!= MENU.news
					ul.sub-menu
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2264
							a(href='https://affhub.net/news/interview/')!= MENU.interview
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2265
							a(href='https://affhub.net/news/konkursy/')!= MENU.konkursy
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2263
							a(href='https://affhub.net/news/obzor-events-cpa-konferentsii/')!= MENU.events
				li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children.menu-item-2320
					a(href='https://affhub.net/arbitrazh-trafika/')!= MENU.arbitrazh
					ul.sub-menu
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2266
							a(href='https://affhub.net/arbitrazh-trafika/arbitrazh-trafika-dlya-novichkov/')!= MENU.novichkov
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2267
							a(href='https://affhub.net/arbitrazh-trafika/istochnikitrafika/')!= MENU.istochnikitrafika
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2317
							a(href='https://affhub.net/arbitrazh-trafika/servisy-dlya-arbitrazhnika/')!= MENU.servisy
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2318
							a(href='https://affhub.net/arbitrazh-trafika/vertikali-nishi-v-arbitrazhe-trafika/')!= MENU.vertikali
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2268
							a(href='https://affhub.net/arbitrazh-trafika/cases/')!= MENU.cases
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2269
							a(href='https://affhub.net/arbitrazh-trafika/arbitrazh_trafika_sotsseti/')!= MENU.social
				li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-2270
					a(href='https://affhub.net/aboutstudy/')!= MENU.aboutstudy
				li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children.menu-item-2322
					a(href='https://affhub.net/events/')!= MENU.events_2
					ul.sub-menu
						li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-2296
							a Affhub events
							ul.sub-menu
								li#menu-item-2299.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-2299
									a(href='https://affhub.net/cpaboost/') CPA Boost 3.0
								li#menu-item-2300.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-2300
									a(href='https://affhub.net/gamingparty/') Affhub Gaming Party
								li#menu-item-2298.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-2298
									a(href='https://affhub.net/gambitparty/') Queen’s Gambit Party
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-2297
							a(href='https://affhub.net/kalendarcpa/')!= MENU.kalendarcpa
				li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-2261
					a(href='https://affhub.net/vakansii/')!= MENU.vakansii
				li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-2262
					a(href='https://contest.everad.com/')!= MENU.contest
			.text
				span!= MAIN.text
				a(href='https://everad.com/')
					img(loading='lazy' src='https://affhub.net/app/themes/affhub/assets/img/svg/everad.svg' width='109' alt='')
			.social
				a(href='https://www.facebook.com/affhubcom/')
					svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10px' height='21px')
						path.facebook(fill-rule='evenodd' fill='#ffffff' d='M6.666,4.624 L6.666,6.723 L10.000,6.723 L9.583,10.501 L6.666,10.501 L6.666,20.998 L2.083,20.998 L2.083,10.501 L0.000,10.501 L0.000,6.723 L2.083,6.723 L2.083,4.624 C2.083,4.624 1.712,0.618 5.417,-0.001 L10.000,-0.001 L10.000,3.364 L7.916,3.364 C7.916,3.364 6.730,3.318 6.666,4.624 Z')
				a(href='https://vk.com/affhub')
					svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='29px' height='16px')
						path.vk(fill-rule='evenodd' fill='#ffffff' d='M24.809,10.121 C25.757,11.032 26.759,11.889 27.610,12.892 C27.986,13.337 28.342,13.797 28.614,14.314 C29.000,15.050 28.650,15.859 27.980,15.903 L23.813,15.901 C22.738,15.988 21.880,15.563 21.159,14.841 C20.582,14.263 20.048,13.647 19.493,13.050 C19.266,12.807 19.028,12.577 18.743,12.395 C18.174,12.031 17.681,12.142 17.356,12.727 C17.024,13.319 16.949,13.977 16.917,14.638 C16.872,15.604 16.576,15.857 15.590,15.901 C13.483,15.998 11.484,15.685 9.627,14.640 C7.989,13.720 6.719,12.418 5.614,10.946 C3.462,8.078 1.814,4.928 0.333,1.689 C-0.000,0.961 0.244,0.568 1.062,0.554 C2.422,0.529 3.781,0.531 5.143,0.552 C5.695,0.560 6.061,0.872 6.274,1.385 C7.010,3.164 7.910,4.855 9.040,6.424 C9.340,6.843 9.647,7.260 10.084,7.553 C10.567,7.879 10.935,7.772 11.163,7.242 C11.307,6.907 11.370,6.544 11.403,6.185 C11.510,4.948 11.525,3.714 11.336,2.481 C11.219,1.712 10.779,1.213 9.998,1.069 C9.600,0.993 9.659,0.847 9.852,0.624 C10.187,0.238 10.502,-0.001 11.130,-0.001 L15.840,-0.001 C16.582,0.142 16.746,0.470 16.848,1.204 L16.852,6.348 C16.844,6.632 16.996,7.476 17.516,7.664 C17.933,7.797 18.207,7.470 18.457,7.211 C19.585,6.034 20.389,4.642 21.108,3.202 C21.428,2.569 21.702,1.911 21.968,1.254 C22.165,0.766 22.474,0.526 23.033,0.537 L27.565,0.541 C27.700,0.541 27.836,0.542 27.966,0.565 C28.730,0.693 28.939,1.015 28.703,1.749 C28.331,2.900 27.608,3.858 26.901,4.822 C26.145,5.852 25.337,6.844 24.587,7.879 C23.898,8.824 23.953,9.300 24.809,10.121 L24.809,10.121 Z')
				a(href='https://t.me/joinchat/AAAAAEJWe7Cf1Cw_rO7JZw')
					svg(width='24px' height='24px' version='1.1' xmlns='http://www.w3.org/2000/svg' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;')
						path#telegram-1.telegram(fill='#ffffff' d='M18.384,22.779c0.322,0.228 0.737,0.285 1.107,0.145c0.37,-0.141 0.642,-0.457 0.724,-0.84c0.869,-4.084 2.977,-14.421 3.768,-18.136c0.06,-0.28 -0.04,-0.571 -0.26,-0.758c-0.22,-0.187 -0.525,-0.241 -0.797,-0.14c-4.193,1.552 -17.106,6.397 -22.384,8.35c-0.335,0.124 -0.553,0.446 -0.542,0.799c0.012,0.354 0.25,0.661 0.593,0.764c2.367,0.708 5.474,1.693 5.474,1.693c0,0 1.452,4.385 2.209,6.615c0.095,0.28 0.314,0.5 0.603,0.576c0.288,0.075 0.596,-0.004 0.811,-0.207c1.216,-1.148 3.096,-2.923 3.096,-2.923c0,0 3.572,2.619 5.598,4.062Zm-11.01,-8.677l1.679,5.538l0.373,-3.507c0,0 6.487,-5.851 10.185,-9.186c0.108,-0.098 0.123,-0.262 0.033,-0.377c-0.089,-0.115 -0.253,-0.142 -0.376,-0.064c-4.286,2.737 -11.894,7.596 -11.894,7.596Z')
				a(href='https://www.instagram.com/affhubcommunity/')
					svg.instagram(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22px' height='22px')
						radialgradient#foot-rg1(r='150%' cx='30%' cy='107%')
							stop(stop-color='#fdf497' offset='0')
							stop(stop-color='#fdf497' offset='0.05')
							stop(stop-color='#fd5949' offset='0.45')
							stop(stop-color='#d6249f' offset='0.6')
							stop(stop-color='#285AEB' offset='0.9')
						path(fill-rule='evenodd' fill='#ffffff' d='M15.281,21.499 L7.219,21.499 C3.508,21.499 0.500,18.491 0.500,14.781 L0.500,6.717 C0.500,3.007 3.508,-0.001 7.219,-0.001 L15.281,-0.001 C18.991,-0.001 22.000,3.007 22.000,6.717 L22.000,14.781 C22.000,18.491 18.991,21.499 15.281,21.499 ZM19.984,6.717 C19.984,4.125 17.874,2.014 15.281,2.014 L7.219,2.014 C4.625,2.014 2.515,4.125 2.515,6.717 L2.515,14.781 C2.515,17.373 4.625,19.484 7.219,19.484 L15.281,19.484 C17.874,19.484 19.984,17.373 19.984,14.781 L19.984,6.717 ZM17.028,5.687 C16.632,5.687 16.312,5.367 16.312,4.972 C16.312,4.576 16.632,4.255 17.028,4.255 C17.424,4.255 17.744,4.576 17.744,4.972 C17.744,5.367 17.424,5.687 17.028,5.687 ZM11.250,16.124 C8.282,16.124 5.875,13.717 5.875,10.750 C5.875,7.782 8.282,5.375 11.250,5.375 C14.218,5.375 16.625,7.782 16.625,10.750 C16.625,13.717 14.218,16.124 11.250,16.124 ZM11.250,7.391 C9.398,7.391 7.891,8.897 7.891,10.750 C7.891,12.601 9.398,14.109 11.250,14.109 C13.102,14.109 14.609,12.601 14.609,10.750 C14.609,8.897 13.102,7.391 11.250,7.391 Z')
